.iconed-link {
	display: flex;
	align-items: center;
	transition: color .3s;
	color: $iconed-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	span {
		margin-left: 20px;
		font-weight: bold;
		font-size: 18px;
	}
}
.iconed-class {
	width: 23px;
	height: 23px;
	fill: $iconed-color;
}