.slider__header {
	display: flex;
	align-items: center;
}
.slider__buttons {
	margin-left: 115px;
	display: flex;
}
.slider__content {
	margin-top: 80px;
	display: flex;/**/
}
.slider__item {
	width: 33.333333%;

	&:not(:first-child) {
		margin-left: 60px;
	}
}