.userinfo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.userinfo__title {
	/* width: 15%; */
	color: $text-color-2;
	font-weight: 600;
	font-size: 18px;
	text-align: right;
	align-self: start;
	margin-right: 56px;
}
.userinfo__name {
	flex-basis: 400px;
	font-weight: 800;
	font-size: 72px;
	line-height: 60px;
	text-align: left;
}