.skill-component {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.title {

	}
	.percent {
		margin-left: auto;
		margin-right: 45px;
	}

	.buttons {
		display: flex;

		.btn {
			padding: 0 15px
		}
	}
}
