script(type="text/x-template")#menu-container
	<nav role="navigation" ref='navigation' class="nav-mobil">
		<ul class="nav">
			<li class="nav-item"><a class="nav-link" href="#">Главная</a></li>
			<li class="nav-item"><a class="nav-link" href="#about">Обо мне</a></li>
			<li class="nav-item"><a class="nav-link" href="#values">Навыки</a></li>
			<li class="nav-item"><a class="nav-link" href="#works">Работы</a></li>
			<li class="nav-item"><a class="nav-link" href="#reviews">Отзывы</a></li>
		</ul>
		<div class="nav-mobile-social">
			+socials(["insta","github","vk","envelope"], 'socials--mobile')
		</div>
	</nav>
