//в этом файле мы оприсываем доп класы для позиционирования элементов
body {
	color: black;
}
.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header {
	display: flex;
	margin-bottom: 60px;
}
.title {
	margin-right: 60px;
	font-size: 21px;
	font-weight: bold;
	color: $text-color-5;
}
.page-content {
	flex: 1;
	padding: 60px 0 20px 0;
	background: url('../images/bg/bg-admin.jpg') 50% 50% / cover no-repeat;
}