extends ./main.layout.pug

block content
  .welcome-sections
    section.hero
      .container

        header.header

          a(href="#").logo БМ

          +nav('menu', ["Обо мне","Навыки","Работа","Отзывы"], 3 )

          - var socials = ["insta","github","vk","envelope"]
          ul.socials
            each item in socials
              li.socials__item
                a(href="#").socials__link
                  +icon(item, 'socials__icon')

        .userinfo
          .userinfo__title Личный сайт веб разработчика
          .userinfo__name Бажанов Михаил

        .hero__bottom-buttons
          button.scroll-down-btn Скролл
