extends ./main.layout.pug

block content
  .welcome-sections
    section.hero
      .container.hero-container

        header.header

          a(href="#").logo БМ

          +nav('menu', ["Обо мне","Навыки","Работа","Отзывы"], 3 )

          +socials(["insta","github","vk","envelope"])

        .userinfo
          .userinfo__title Личный сайт #[br] веб разработчика
          .userinfo__name Бажанов Михаил

        .hero__bottom-buttons
          button.scroll-down-btn
            span Скролл
            +icon('scroll-2', 'hero__scroll')
